body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
background-color: rgb(220, 199, 235);
}

input {
padding: 5px;
width: 200px;
}

button {
padding: 5px 10px;
margin: 5px;
background-color: rgb(135, 122, 148);
border-radius: 25px;
}

.caixa {
border: 2px solid;
padding: 10px;
margin-top: 10px;
min-height: 50px;
}

#Urgente {
border: 12px solid rgb(196, 3, 3);
margin: 20px;
}

#NaoUrgente {
border: 12px solid rgb(3, 196, 37);
margin: 20px;

}

.nota {
margin: 5px 0;
padding: 5px;
border-radius: 5px;
color: white;
}

.azul { background-color: blue; }
.verde { background-color: green; }
.roxo { background-color: purple; }

.remover {
margin-left: 10px;
background-color: rgb(211, 255, 161);
color: rgb(0, 0, 0);
border: none;
padding: 2px 5px;
}