body {
  font-family: Arial, sans-serif;
  background-color: #f5ecff;
  padding: 30px;
  text-align: center;
  color: #3e2c61;
}

h2 {
  color: #5a2ca0;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  width: 220px;
  border-radius: 10px;
  border: 1px solid #bba8e8;
  margin: 5px;

  
}

button {
  padding: 8px 15px;
  margin: 5px;
  background-color: #8351f5;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.caixa {
  border: 2px solid #bba8e8;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 15px auto;
  min-height: 60px;
  width: 80%;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#Urgente {
  border-color: #e63946;
}

#NaoUrgente {
  border-color: #2ecc71;
}

.nota {
  margin: 5px 0;
  padding: 8px 10px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.azul { background-color: #3498db; }
.verde { background-color: #2ecc71; }
.roxo { background-color: #8e44ad; }

.remover {
  margin-left: 10px;
  background-color: #fff176;
  color: #000;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 13px;
}


